body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#container{
    background-color: #099dfd;
}

.logo{
    margin: 0px auto;
}

#img-container{
    height: 150px;
    width: 200px;
    max-width: 100%;
    max-height: 100%;
}

#headingText{
    margin: 5px;
    font-size: 1.5rem;
}

#highlighted{
    color: #099dfd;
}
#highlighted2{
    color: #f2cbfa;
}

#email{
    margin-top: 50px;
}

input{
    margin-top: 10px;
    padding: 5px;
    width: 80%;
    font-size: 1.25rem;
    border: 2px solid #099dfd;
    border-radius: 5px;
}
.submitButton{
    margin-left: 5px;
    margin-right: 5px;
    background-color: #df97ee;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 10px;
}
.submitButton:hover{
    background-color: #df97ee86;
}

.flexContainer{
    display: flex;
    flex-direction: row;
}


#illustration{
    max-width: 100%;
    max-height: 100%;
    margin-top: 80px;
}

#illustrationContainer{
    width: 350px;
    margin: auto;
    padding-bottom: 45px;
    display: inline-block;
}

#bottomText{
    font-size: 2rem;
    text-align: center;
    color: white;
}
.right-container{
    max-width: 100%;
    max-height: 100%;
    background-color: blueviolet;
}
#SelfStream{
    text-align: left;
    margin: 50px auto;
    margin-top: 150px;
    justify-self: center;
    align-self: center;
    border: 2px solid #ffffff;
    background-color: #cccccc7a;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
    width: 350px;
    height: 225px;
}
#remoteDiv{
     width: 100%;
    display: table;
}
#remote-container {
    display: table-cellj;
    margin: auto 25px;
    justify-self: center;
    align-self: center;
    border: 2px solid rgb(255, 0, 212);
    background-color: rgba(255, 0, 191, 0.568);
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
    width: 150px;
    height: 100px;
}
.controls{
    justify-self: end;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 27%;
    margin-bottom: 0px;
    height: 50px;
    width: 300px;
    margin-bottom: 0px;
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.363);

}
.icon{
    height: 40px;
    width: 50px; 
    cursor: pointer;
    margin: 20px;
    color: black;
}
.remote{
    display: inline;
}
.left-pane{
    text-align: center;
    flex: 1;
    background-color: white;
    height: 400px;
    padding: 10px;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

.left-pane-video{
    text-align: center;
    flex: 1;
    background-color: white;
    height: 728px;
    padding: 10px;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}
.right-pane{
    flex: 1;
    display: inline-block;
    background-color:#099bfd9a;
    width: 30%;
    height: 728px;
    text-align: center;
}
.right-pane-index{
    flex: 1;
    display: inline-block;
    background-color: #099dfd;
    width: 100%;
    height: 300px;
    text-align: center;
}
#chatText{
    display: inline-block;
    text-align: center;
}
#bottomTextDiv{
    padding: 25px;
}
.incorrect{
    border-color: red;
}
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {

    width: 80%;
    margin: auto;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #a7cde6;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #099dfd;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #e9e9e9;
    padding: 30px 40px;
    width: 80%;
    margin: auto; 
    text-align: center;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
