
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#container{
    background-color: #099dfd;
}

.logo{
    margin: 0px auto;
}

#img-container{
    height: 150px;
    width: 200px;
    max-width: 100%;
    max-height: 100%;
}

#headingText{
    margin: 5px;
    font-size: 1.5rem;
}
#highlighted{
    color: #099dfd;
}
#highlighted2{
    color: #f2cbfa;
}

#email{
    margin-top: 50px;
}

input{
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    font-size: 1.25rem;
    border: 2px solid #099dfd;
    border-radius: 5px;
}
.submitButton{
    background-color: #df97ee;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 10px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
}


#illustration{
    max-width: 100%;
    max-height: 100%;
    margin-top: 80px;
}

#illustrationContainer{
    width: 350px;
    margin: auto;
    padding-bottom: 45px;
    display: inline-block;
}

#bottomText{
    font-size: 2rem;
    text-align: center;
    color: white;
}
.right-container{
    max-width: 100%;
    max-height: 100%;
    background-color: blueviolet;
}
#SelfStream{
    text-align: left;
    margin: 50px auto;
    margin-top: 150px;
    justify-self: center;
    align-self: center;
    border: 2px solid #099dfd;
    background-color: #099bfd34;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
    width: 350px;
    height: 225px;
}

#RemoteStream{
    display: inline-block;
    text-align: left;
    margin: auto 25px;
    justify-self: center;
    align-self: center;
    border: 2px solid rgb(0, 255, 115);
    background-color: rgba(0, 255, 115, 0.281);
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
    width: 150px;
    height: 100px;
}
.controls{
    justify-self: end;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 360px;
    margin-left: 400px;
    margin-right: 400px;
    height: 100px;
    width: 600px;
    margin-bottom: 0px;
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);

}
.icon{
    height: 40px;
    width: 50px; 
    cursor: pointer;
    margin: 20px;
    color: black;
}
.remote{
    display: inline;
}
.left-pane{
    text-align: center;
    flex: 1;
    background-color: white;
    height: 400px;
    padding: 10px;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

.left-pane-video{
    text-align: center;
    flex: 1;
    background-color: white;
    height: 714px;
    padding: 10px;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}
.right-pane{
    flex: 1;
    display: inline-block;
    background-color:#099dfd;
    width: 30%;
    height: 728px;
    text-align: center;
}
.right-pane-index{
    flex: 1;
    display: inline-block;
    background-color: #099dfd;
    width: 100%;
    height: 300px;
    text-align: center;
}
#chatText{
    display: inline-block;
    text-align: center;
}
#bottomTextDiv{
    padding: 25px;
}
.incorrect{
    border-color: red;
}
